n8n_workflows/AI Daily Executive Report.json
{
  "name": "AI Daily Executive Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1593c9d9-d0d5-443e-bb8b-de6341dff366",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT category,\nCOUNT(*) AS orders_yesterday,\nSUM(total_amount) AS revenue,\nROUND(AVG(total_amount)::numeric, 2) AS avg_order\nFROM order_events\nWHERE event_time::date = CURRENT_DATE - 1\nGROUP BY category\nORDER BY revenue DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "2e077866-2262-4299-9442-a8a1932df9c6",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "H0QrTpWJaG5Lf8Gi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Write a 5-sentence executive summary of this e-commerce data: {{ $json }}. Highlight top performer, biggest concern, one recommendation.\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        432,
        0
      ],
      "id": "5a4fceca-6737-44c3-8a2d-e7dddf4da13a",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ykO6tAPd8b5C8Alv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-data-analyst",
          "mode": "name"
        },
        "text": "=Daily Analytics Report {{ new Date().toLocaleDateString() }}  {{ $json.choices[0].message.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        608,
        0
      ],
      "id": "ca6180d1-8190-4138-88c9-10ce73a92e07",
      "name": "Send a message",
      "webhookId": "805c61a5-f975-4ee7-8dc7-49ebae703c94",
      "credentials": {
        "slackApi": {
          "id": "vHsvy8k1l4HzcG4K",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "121787d9-0cce-431b-8fa3-7dde4b620666",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c98e1beec1e19d999b727849fd80beddad41589f6a98fda471a93475c38c7f5e"
  },
  "id": "v0YlbAm0WbuUbiTU",
  "tags": []
}