n8n_workflows/Google Sheets.json
{
  "name": "Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -48
      ],
      "id": "9ce41095-b1d1-4339-8efc-4751cf3627de",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT category, city,\nDATE(event_time) AS date,\nCOUNT(*) AS orders,\nSUM(total_amount) AS revenue\nFROM order_events\nGROUP BY 1, 2, 3\nORDER BY 3 DESC, 5 DESC\nLIMIT 100",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        -48
      ],
      "id": "6a677c02-3761-4654-883c-5c842b2ba055",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "H0QrTpWJaG5Lf8Gi",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DF0JXiq8R5a1LI9OhzUbRIKwFrFqTy4XOpY_hT32s9g/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "category": "={{ $json.category }}",
            "city": "={{ $json.city }}",
            "date": "={{ $json.date }}",
            "orders": "={{ $json.orders }}",
            "revenue": "={{ $json.revenue }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "orders",
              "displayName": "orders",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "revenue",
              "displayName": "revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        -48
      ],
      "id": "a2e52d04-7952-4b11-9be8-9c6fdaf2712d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E4rM40cQkglOiA1b",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f62339c8-f42b-454f-a993-c8c48be0a0f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c98e1beec1e19d999b727849fd80beddad41589f6a98fda471a93475c38c7f5e"
  },
  "id": "IsctNZzBHXHqxEbw",
  "tags": []
}